<div class="row">
  <div class="col-md-3 col-12 d-note d-md-block">
    <div class="card p-2">
      <%= image_tag current_user.avatar.url, class: "card-img-top rounded-circle" %>
      <div class="card-body">
        <h4 class="card-title"><%= "@#{@user.name}" %></h4>
        <p class="card-text">
          <span class="text-secondary">アメリカファースト!!</span>
        </p>
      </div>
    </div>
  </div>

  <%= link_to "新規登録", new_caption_path, class: 'btn btn-primary' %>

  <div class="col-md-9 col-12">
    <%= render partial: "caption", collection: @captions %>
  </div>
</div>
